@font-face {
  font-family: "source-code-pro";
  src: url(res/SourceCodePro-Regular.otf);
}
body {
  margin: 0;
  padding: 0;
  background: url(res/bg.png) repeat;
  color: #efefef;
  font-family: "Microsoft YaHei", "微软雅黑", verdana, "Segoe WP";
  overflow: hidden;
  font-size: 16px;
}
a {
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px solid #838383;
}
a:hover {
  border-color: #efefef;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
p {
  margin: 4px 0;
}
.outer-panel {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.banner-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  padding: 24px 64px;
  background: #3C3A38;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.banner-panel h1 {
  font-size: 28px;
  line-height: 1em;
  margin: 0;
}
.banner-panel h1 span {
  margin-left: 2em;
  font-size: 16px;
  border-radius: 1px;
  background-color: #838383;
  color: #202020;
  padding: 1px 6px;
}
.content-container {
  position: fixed;
  top: 72px;
  bottom: 48px;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  overflow: hidden;
}
.content-container .content-scroll {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1020px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content-panel {
  margin-top: 48px;
  margin-bottom: 24px;
  margin-left: 0;
}
.footer-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #3C3A38;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.footer-panel .span {
  color: #838383;
  line-height: 48px;
}
.footer-panel span {
  color: #838383;
  line-height: 48px;
  margin-left: 24px;
}
.footer-panel a {
  color: #838383;
  line-height: 48px;
  float: right;
  margin-right: 24px;
}
body > *:first-child {
  margin-top: 0 !important;
}
body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre {
  margin-bottom: 16px;
}
blockquote {
  border-left: 4px solid #838383;
  padding: 0 15px;
  margin: 0;
  color: #d0d0d0;
}
blockquote > p:first-child {
  margin-top: 0;
}
blockquote > p:last-child {
  margin-bottom: 0;
}
code {
  font-family: "Source Code Pro", "source-code-pro", monospace;
  background-color: #3e3d3c;
  color: #f9f9f9;
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 2px;
}
pre {
  background-color: #3e3d3c;
  padding: 16px;
  border-radius: 2px;
  font-size: 14px;
}
pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
h1,
h2 {
  padding: 32px 0 16px;
  border-bottom: 1px solid #3c3a38;
}
p {
  line-height: 1.8em;
}
p > img {
  display: block;
  margin: 0 auto;
}
.banner-panel h1 {
  padding: 0;
}
.banner-panel .operations {
  margin: 0;
  padding: 0;
  float: right;
  right: 0;
  bottom: 0;
}
.banner-panel .operations li {
  list-style-type: none;
  margin: 0 4px;
  padding: 0;
  display: inline-block;
}
div.topic-link {
  margin: 0 48px 12px;
}
div.topic-link a {
  padding: 3px 6px;
  margin-left: 6px;
}
div.topic-link span {
  display: inline-block;
  padding: 3px 6px;
  background-color: #3e3d3c;
  border: 1px solid #3e3d3c;
}
div.topic-link span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.topic-link span.value {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 28px;
  text-align: center;
  background-color: #838383;
  color: #202020;
}
#topic-of-content {
  background-color: #3e3d3c;
  border-radius: 2px;
  padding: 16px 8px 16px;
}
#topic-of-content ul {
  margin: 0;
  padding: 0 24px;
}
#topic-of-content ul li {
  margin: 0 0 8px 0;
  padding: 0;
  list-style-type: none;
}
