body {
  margin: 0;
  padding: 0;
  background: url(res/bg.png) repeat;
  color: #efefef;
  font-family: "Microsoft YaHei", "微软雅黑", verdana, "Segoe WP";
  overflow: hidden;
  font-size: 14px;
}
a {
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px solid #838383;
}
a:hover {
  border-color: #efefef;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
p {
  margin: 4px 0;
}
.outer-panel {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.banner-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 64px;
  background: #3C3A38;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.banner-panel h1 {
  font-size: 28px;
  line-height: 1em;
  margin: 0;
}
.banner-panel h1 span {
  margin-left: 2em;
  font-size: 16px;
  border-radius: 1px;
  background-color: #838383;
  color: #242424;
  padding: 1px 6px;
}
.content-container {
  position: fixed;
  top: 96px;
  bottom: 64px;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  overflow: hidden;
}
.content-container .content-scroll {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1020px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content-panel {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0;
}
.footer-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #3C3A38;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
}
.footer-panel .span {
  color: #838383;
  line-height: 48px;
}
.footer-panel span {
  color: #838383;
  line-height: 48px;
  margin-left: 24px;
}
.footer-panel a {
  color: #838383;
  line-height: 48px;
  float: right;
  margin-right: 24px;
}
