@font-face {
  font-family: "source-code-pro";
  src: url(res/SourceCodePro-Regular.otf);
}
body {
  margin: 0;
  padding: 0;
  background: url(res/bg.png) repeat;
  color: #efefef;
  font-family: "Microsoft YaHei", "微软雅黑", verdana, "Segoe WP";
  overflow: hidden;
  font-size: 16px;
}
a {
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px solid #838383;
}
a:hover {
  border-color: #efefef;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
p {
  margin: 4px 0;
}
.outer-panel {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.banner-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  padding: 24px 64px;
  background: #3C3A38;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.banner-panel h1 {
  font-size: 28px;
  line-height: 1em;
  margin: 0;
}
.banner-panel h1 span {
  margin-left: 2em;
  font-size: 16px;
  border-radius: 1px;
  background-color: #838383;
  color: #202020;
  padding: 1px 6px;
}
.content-container {
  position: fixed;
  top: 72px;
  bottom: 48px;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  overflow: hidden;
}
.content-container .content-scroll {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1020px;
  overflow-x: hidden;
  overflow-y: auto;
}
.content-panel {
  margin-top: 48px;
  margin-bottom: 24px;
  margin-left: 0;
}
.footer-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #3C3A38;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.footer-panel .span {
  color: #838383;
  line-height: 48px;
}
.footer-panel span {
  color: #838383;
  line-height: 48px;
  margin-left: 24px;
}
.footer-panel a {
  color: #838383;
  line-height: 48px;
  float: right;
  margin-right: 24px;
}
h3 {
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #3c3a38;
  padding-bottom: 8px;
  padding-left: 10px;
}
h3 .sub-title {
  font-size: 14px;
  margin-left: 20px;
}
h3 span {
  font-size: 14px;
  margin-left: 20px;
}
h3 a {
  font-size: 14px;
  margin-left: 20px;
}
.content-panel .content {
  margin: 0;
  padding: 0 10px;
  margin-left: 14px;
  color: #d0d0d0;
  border-left: 4px solid #838383;
  border-radius: 1px;
}
.content-panel .content.custom {
  padding: 0;
}
.content-panel .hold {
  height: 96px;
  position: relative;
  margin-bottom: 64px;
  padding: 0 10px;
  background-color: rgba(33, 32, 31, 0.4);
  border-radius: 1px;
}
.content-panel .hold h3 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 640px;
  margin: 0;
  padding-top: 0;
  color: #efefef;
}
.content-panel .hold div {
  position: absolute;
  bottom: 10px;
  width: 620px;
  text-align: right;
  color: #d0d0d0;
  font-size: 14px;
}
.content-panel .hold a {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 320px;
  padding: 32px 0;
  border: 0;
  border-radius: 1px;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}
.content-panel .hold a:hover {
  background: #838383;
  color: #3c3a38;
}
