@import url(define.less);

h3 {
    font-size: 18px;
    margin-top: 48px;
    margin-bottom: 0.5em;
    border-bottom: 2px solid @line;
    padding-bottom: 8px;
    padding-left: 10px;

    .sub-title {
        font-size: 14px;
        margin-left: 20px
    }

    span {
        .sub-title;
    }

    a {
        .sub-title;
    }
}

.content-panel {
    .content {
        margin: 0;
        padding: 0 10px;
        margin-left: 14px;
        color: @font-remark;
        border-left: 4px solid @link-line;
        border-radius: 1px;

        &.custom {
            padding: 0;
        }
    }

    .hold {
        @left-width: @content-width - 340px;
        @v-spacing: 10px;
        @h-spacing: 10px;
        @radius: 1px;

        height: 96px;
        position: relative;
        margin-bottom: 64px;
        padding: 0 10px;
        background-color: rgba(33, 32, 31, 0.4);
        border-radius: @radius;

        h3 {
            position: absolute;
            top: @v-spacing;
            left: 0;
            width: @left-width + 20px;
            margin: 0;
            padding-top: 0;
            color: @font-color;
        }

        div {
            position: absolute;
            bottom: @v-spacing;
            width: @left-width;
            text-align: right;
            color: @font-remark;
            font-size: 14px;
        }

        a {
            @line-width: 0px;
            display: inline-block;
            position: absolute;
            top: @line-width;
            right: @line-width;
            bottom: @line-width;
            width: 320px;
            padding: 32px 0;
            border: 0;
            border-radius: @radius;
            font-size: 32px;
            line-height: 32px;
            text-align: center;

            &:hover {
                background: @link-line;
                color: @line;
            }
        }
    }
}
